<h1>Test Type: <%= @test_type.name %></h1>

<div class="row-fluid">
  <div class="span12">
    <legend class="show">Test Type Overview</legend>
    <table class="table">
      <tbody>
        <tr>
          <td class="title">Name</td>
          <td><%= @test_type.name %></td>
        </tr>
        <tr>
          <td class="title">Description</td>
          <td><%= @test_type.description %></td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>

<div class="addLink">
<%= link_to "Edit", edit_test_type_path(@test_type), :class => "btn btn-primary"  %>
<a href='#' onclick='history.go(-1);return false;', class="btn btn-inverse">Back</a>
</div>