<% if !test_plans.blank? %>
  <option value="">Select a test plan</option>
  <% test_plans.each do |test_plan| %>
    <option value="<%= test_plan.id %>"><%= test_plan.name %> - Version <%= test_plan.version %></option>
  <% end %>
<% else %>
  <option value="">No test plans</option>
<% end %>