<h1>Editing category</h1>

<%= render 'form' %>

<%= link_to image_tag("button_show.png", :border=>0), @category  %>
<a href='#' onclick='history.go(-1);return false;', class="btn btn-inverse">Back</a>
