<h1>View File</h1>

<p>
  <strong>Description:</strong>
  <div class="description"><%= @upload.description %></div>
</p>
<p>
	<strong>File name:</strong>
	<%= @upload.upload.original_filename %>
</p>
<p>
  <%= link_to('Download', @upload.upload.url) %>
</p>

<p>
</p>
