var newDivs = "<div class='rectangle'></div>";
var categoryLink ="";

<% if @categories.empty? %>
  newDivs += '<div class="treeNoData">Categories have not been configured for this product</div>';
<% else %>
  <% @categories.each do |category| %>
    <% # When we list categories we must generate the link to the category details %>
    <% # To do this we need to access the name route feature. This was enabled in the categories module folder %>
    categoryLink = '<a href="<%= list_test_plan_category_children_path(@plan_id, category) %>" class="treeLink" data-remote="true"><%= category.name %></a>';
    newDivs += '<div class="treeChild" id="treeChild<%= category.id.to_s %>"><i class="icon-chevron-right"></i> ' + categoryLink + '</div>';
  <% end %>
<% end %>

$("#treeParent<%= @product.id %>").append(newDivs); 